@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: #bfbfbf;
}

.font-primary {
  font-family: "Cabin Sketch", serif;
  font-style: normal;
}

.font-secondary {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#right {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  column-count: 4;
}

#dynamic-image {
  width: 100% !important;
  height: auto !important;
}

.home {
  background: linear-gradient(180deg, #0d1d25 0%, #27546a 50%, #3881a5 100%);
}

.bg-overlay {
  background: linear-gradient(180deg, transparent 0%, #000 100%);
}
