@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body,
#navbar,
#footer,
#menu-items,
#profile {
    transition: background-color 0.3s ease, color 0.1s ease;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

#logo h1,
#footer p{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#menu-items h3,
::placeholder{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#right{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    column-count: 4;
}

#dynamic-image{
    width: 100% !important;
    height: auto !important;
}